# FastAPI
fastapi
uvicorn
starlette

# Database
sqlalchemy

# Langchain
langchain
langchain-community
langchain-text-splitters
langchain-chroma

# LLM Providers
langchain-groq
langchain-huggingface

# Embeddings
sentence-transformers

# Other
pypdf
rank_bm25